form {
  padding: 3.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 1.2rem var(--neutral);
}

form fieldset {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border: none;
}

form legend {
  color: var(--text-primary);
  font-size: 2rem;
  font-weight: 600;
}

label {
  color: var(--text-primary);
  font-size: 2rem;
  font-weight: 600;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.checkbox-group,
.radio-group {
  gap: 1.2rem;
}

.checkbox-group legend,
.radio-group legend {
  margin-bottom: 0.8rem;
}

.checkbox-group label,
.radio-group label {
  font-weight: 400;
  font-size: 1.6rem;
}

.button-group {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.form-row.inline > div {
  flex: 1;
  min-width: 0;
}

/* ===== Tablet: 768– ===== */
@media (min-width: 768px) {
  form {
    max-width: 76.8rem;
  }

  .form-row.inline {
    flex-direction: row;
  }

  .form-row.center {
    align-items: center;
  }

  .form-row.center > div {
    width: 50%;
  }

  .checkbox-group,
  .radio-group {
    flex: 1;
  }
}
