.banner {
  position: relative;
  width: 100%;
  height: 30rem;
  background-image: url("../media/images/tours_banner.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 1;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
  width: 60%;
}

.filters p {
  color: var(--text-primary);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  flex-shrink: 0;
}

.filters .row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filters .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.table-section {
  width: 100%;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  box-shadow: 0 0.4rem 1.2rem var(--neutral);
}

table {
  border-collapse: collapse;
  color: var(--text-primary);
}

th,
td {
  padding: 1rem;
  border-bottom: 1px solid var(--neutral);
  text-align: left;
  font-size: 1.6rem;
}

thead th {
  background-color: var(--secondary);
}

thead th:first-child {
  border-top-left-radius: 0.5rem;
}

thead th:last-child {
  border-top-right-radius: 0.5rem;
}

tbody tr:hover {
  background-color: var(--secondary);
}

.highlighted {
  background-color: var(--primary-hover);
  color: var(--bg);
  transition: background-color 0.5s ease;
}

/* ===== Tablet: 768–1023px ===== */
@media (min-width: 768px) and (max-width: 1023px) {
  .filters {
    width: 50%;
  }
}

/* ===== Desktop: 1024px– ===== */
@media (min-width: 1024px) {
  #search-input {
    width: 50%;
  }

  .filters {
    width: 60%;
  }

  .filters .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  table {
    min-width: 102.4rem;
  }
}
